<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    
    <!--
    <add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=D:\Development\Data\IandF-Devel.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=5;MaxPoolSize=30;Packet Size=8192;ServerType=0;" />
    <add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=C:\FirebirdData\Database\IandF-Devel.fdb;DataSource=162.13.2.130;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=5;MaxPoolSize=30;Packet Size=8192;ServerType=0;" />
    -->
    <!--

    <add name="FBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=C:\FirebirdData\Database\IandF-Main.fdb;DataSource=162.13.2.130;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=80;Packet Size=8192;ServerType=0;"/>
    <add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=E:\Dropbox\IandFData\IandF-Main.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=5;MaxPoolSize=30;Packet Size=8192;ServerType=0;" />
    -->

	  <!--
    <add name="FBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=C:\FirebirdData\Database\IandF-Main2.fdb;DataSource=162.13.2.130;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=80;Packet Size=8192;ServerType=0;"/>
    -->
	<add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=C:\Users\Donizetti\Dropbox\IandFData\IandF-Main.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=5;MaxPoolSize=30;Packet Size=8192;ServerType=0;" />

	<!--
    <add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=E:\Dropbox\IandFData\IandF-Main.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=5;MaxPoolSize=30;Packet Size=8192;ServerType=0;" />
    -->

    <!--
    <add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=C:\Users\stephenkenny\Documents\IandF\Database\IANDF-Main2.FDB;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=5;MaxPoolSize=30;Packet Size=8192;ServerType=0;" />
    <add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=C:\FirebirdData\Database\IandF-Devel.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=80;Packet Size=8192;ServerType=0;" />
     -->
    <!-- 
    <add name="FBConnectionString" connectionString="User=sysdba;Password=hat7,alp;Database=C:\FirebirdData\Database\IandF-Devel.fdb;DataSource=192.168.1.100;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=80;Packet Size=8192;ServerType=0;" />
    <add name="FBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=C:\FirebirdData\Database\IandF-Main.fdb;DataSource=192.168.56.2;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=80;Packet Size=8192;ServerType=0;"/>
    -->
    <!-- 
      <add name="FBConnectionString" connectionString="User=sysdba;Password=hat7,alp;Database=C:\Users\Frobisher\Documents\iDev\IandFData\Database\IandF.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=80;Packet Size=8192;ServerType=0;" />
      <add name="FBConnectionString" connectionString="User=sysdba;Password=masterkey;Database=C:\FirebirdData\Database\IandF.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=5;MaxPoolSize=30;Packet Size=8192;ServerType=0;" />
      -->
  </connectionStrings>
  <appSettings>
    <add key="EmailTemplatePath" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LogDir" value=""/>
    <add key="LogEqInv" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
